@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Abel);
/*フッターの茶色*/
/*文字・背景のピンク*/
/*リンクの赤*/
/* Base
------------------------------------------------------------*/
html {
  font-size: 62.5%; }

body {
  color: #fef4f4;
  font-size: 1.4rem;
  font-family: "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1em;
  background-color: #a86f4c; }

a {
  color: #ff0000;
  text-decoration: none; }
  a:visited {
    color: #cc0000; }
  a:hover {
    color: #cc0000; }
  a:active {
    color: #ff1a1a; }

@media (min-width: 769px) {
  a :hover {
    background-color: #cc0000; } }
/* Align
------------------------------------------------------------*/
.text-center, h3, .link-button {
  text-align: center; }

/* Layout
------------------------------------------------------------*/
.block-center, section .container, .link-button {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* Font
------------------------------------------------------------*/
.abel, h1, h2, h3, .link-button {
  font-family: 'Abel', sans-serif; }

　
.uppercase {
  text-transform: uppercase; }

.header-image {
  background-image: url("../image/6fd0cd9e.jpg");
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center center; }

@media (min-width: 769px) {
  .header-image {
    height: 500px; } }
/* Contents
------------------------------------------------------------*/
section {
  padding: 60px 0; }
  section .container {
    width: 90%; }

h1 {
  color: #a86f4c;
  margin-bottom: 30px;
  font-size: 3.2rem;
  font-weight: bold; }

h2 {
  color: #fef4f4;
  margin: 0;
  font-size: 2.4rem;
  background-color: #999393; }

h3 {
  color: #fef4f4;
  margin-top: 13px;
  margin-bottom: 13px;
  font-size: 1.8rem; }

p {
  padding: 20px; }

#main {
  background-color: #fef4f4;
  padding-top: 30px;
  padding-bottom: 90px; }
  #main .container {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-direction: column;
    flex-direction: column; }
  #main .main-box {
    -webkit-flex: 1;
    flex: 1;
    margin: 10px 0;
    padding: 0 px;
    background-color: #a86f4c;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

@media (min-width: 769px) {
  #main .container {
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between; }
  #main .main-box {
    margin: 0 10px; } }
/* footer---------------------------------*/
footer {
  background-color: #a86f4c;
  padding-top: 10px;
  color: #FFF; }

.link-button {
  padding: 5px 0;
  margin-bottom: 20px;
  margin-top: 5px;
  width: 270px;
  font-weight: bold;
  background-color: #ff0000;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 1.6rem;
  color: #fef4f4; }

/*# sourceMappingURL=style.1.css.map */
